/Build/
/Data/
/Packages/Framework/
/Packages/Libraries/
/Configuration/Development/
/Configuration/Production/
/Configuration/Testing/
/Configuration/PackageStates.php
/Configuration/README
/Configuration/Settings.yaml.example
/Web/
/bin/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
/composer.json
/composer.lock
/nbproject/