/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

strong, b {
    font-weight: bold;
}

body {
    background-color: #aaaaaa;
}

.wrapper {
    width: 1010px;
    margin: 0 auto;
}

header {
    height: 155px;
    background-image: url('http://bandpool/_Resources/Static/Packages/Newcomerscene.Bandpool/img/header.png');
    background-repeat: no-repeat;
}

#logo {
    width: 265px;
    height: 65px;
    margin: 10px 0 0 20px;
}

#contentBackground {
    background-image: url('http://bandpool/_Resources/Static/Packages/Newcomerscene.Bandpool/img/flashground1.png');
    background-repeat: repeat-y;
}

#contentArea {
    width: 940px;
    margin: 0 auto;
}

#profileHeader {
    height: 30px;
    border-bottom: 1px solid #cccccc;
    position: relative;
    margin-bottom: 20px;
}

#profileName {
    color: #333333;
    font-size: 34px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -20px;
}

.profileBox {
    float: left;
    width: 100%;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0 2px 0 #bbbbbb;
    margin-bottom: 15px;
    color: #333333;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

#profileSupportBox {
    position: absolute;
    width: 355px;
    right: 0;
    bottom: -15px;
}

#profileSupport {
    position: absolute;
    right: 0;
    bottom: -24px;
}

#profileSupport a:hover {
    opacity: 0.8;
}

#profileSupport img {
    float: left;
}

#profileSupport #first {
    margin-right: 5px;
}

#left {
    float: left;
    width: 565px;
}

#right {
    float: left;
    width: 355px;
    margin: 20px 0 0 20px;
}

.oneRow {
    float: left;
    width: 275px;
}

.firstRow {
    margin-right: 15px;
}

.profileSongLink {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #8c8c8c;
    text-decoration: none;
}

.profileSongLink:hover {
    color: #363636;
}

#profileSongLinkFirst {
    border-right: 1px solid #333333;
    padding-right: 5px;
    margin-right: 6px;
}

#profileSongList {
    list-style: none;
    margin-top: 7px;
}

#profileSongList li {
    height: 55px;
    border-top: 1px dotted #cccccc;
}

#profileSongList li .play {
    float: left;
    width: 32px;
    height: 32px;
    margin: 11px 10px 0 0;
}

#profileSongList li .play:hover {
    opacity: 0.8;
}

#profileSongList li .title {
    float: left;
    margin-top: 12px;
}

#profileSongList li h2 {
    color: #333333;
    font-size: 15px;
    font-family: Arial, sans-serif;
    border: 0;
    padding: 0;
}

#profileSongList li .dropdown {
    float: right;
    width: 24px;
    height: 24px;
    margin-top: 15px;
}

#profileSongList li ul {
    float: left;
    list-style: none;
    margin-top: 5px;
}

#profileSongList li ul li {
    float: left;
    line-height: 5px;
    height: 9px;
    border-right: 1px solid #7d7d7d;
    border-top: 0;
    margin-right: 5px;
}

#profileSongList li ul #last {
    border: none;
    padding: 0;
    margin: 0;
}

#profileSongList li ul li a {
    color: #1f93de;
    font-size: 11px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    padding-right: 4px;
    
}

#profileSongList li ul li a:hover {
    color: #00436f;
}

.profileBox h2 {
    color: #333333;
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-bottom: 8px;
    border-bottom: 1px dotted #cccccc;
}

#status {
    position: relative;
}

#status blockquote {
    padding: 10px 22px 5px 22px;
    line-height: 18px;
}

#quoteStart {
    position: absolute;
    left: 0;
    margin-top: 10px;
}

#quoteEnd {
    position: absolute;
    right: 0;
    bottom: 0;
}

#infos {
    list-style: none;
}

#infos li {
    margin: 5px 0 5px 0;
    border-bottom: 1px dotted #cccccc;
}

#infos .line {
    line-height: 25px;
}

#infos #last {
    border-bottom: 0;
    line-height: 18px;
}

#infos li a,
.chartInfo a {
    color: #1f93de;
    text-decoration: none;
}

#infos li a:hover,
.chartInfo a:hover {
    color: #00436f;
}

#chartNumber {
    float: left;
    background-image: url('http://bandpool/_Resources/Static/Packages/Newcomerscene.Bandpool/img/chart_nr.png');
    height: 38px;
    width: 39px;
    margin: 7px 10px 0 0;
    position: relative;
}

#chartNumber span {
    color: #ffffff;
    font-size: 21px;
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 38px;
}

.chartInfo {
    float: left;
    color: #333333;
    font-size: 15px;
    font-family: Arial, sans-serif;
    margin-top: 9px;
}

.chartInfo #title {
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid #d2d2d2;
}

.chartInfo span {
    font-size: 13px;
}

#videoBoxTitle {
    float: left;
    width: 100%;
}

#videoLink {
    float: right;
    margin: 4px 0 -1px 0;
    color: #8c8c8c;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

#videoLink:hover {
    color: #363636;
}

#videos {
    margin-top: 10px;
    text-align: center;
}

#bigVideo {
    width: 322px;
    height: 180px;
}

.smallVideos {
    float: left;
    width: 100px;
    height: 60px;
    margin-top: 5px;
}

#firstVideo {
    margin-left: 6px;
}

#middleVideo {
    margin: 5px 11px 0 11px;
}

#videos a:hover {
    opacity: 0.8;
}

.leftSide {
    width: 540px;
    float: left;
}

.avatar {
    position: relative;
    width: 540px;
}

.editAvatar {
    position: absolute;
    top: 3px;
    right: 3px;
}

.editAvatar a {
    color: #ffffff;
    text-shadow: 0 0 2px #333333;
    text-decoration: none;
}

.editAvatar a:hover {
    text-decoration: underline;
}

.rightSide {
    width: 375px;
    float: right;
}

.contentBox {
    margin: 0 auto;
    border: 1px solid transparent;
    margin-bottom: 15px;
}

.contentBox:hover {
    border: 1px solid #676767;
    box-shadow: 0 0 3px 0 #bbbbbb;
}

.contentBox p {
    padding: 20px 10px 10px 10px;
}

.contentBox ul {
    padding: 20px 10px 10px;
}

.contentBox ul li {
    line-height: 20px;
}

.headBar {
    height: 35px;
    color: #ffffff;
    background-color: #535353;
    line-height: 35px;
    padding-left: 10px;
}

.headBar span {
    float: right;
    margin-right: 10px;
}

.headBar span a {
    color: #ffffff;
    text-decoration: none;
}

.headBar span a:hover {
    text-decoration: underline;
}